@font-face {
    font-family: FlameBold;
    src: url(./Assets/fonts/FlameBold.28425e3e58c6f1505f70.ttf);
}

* {
    /* background-color: ; */
    margin: 0;
    padding: 0;
}

body section {
    padding: 0 5vh;
    background-color: #EBE2D3;
}

.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F5EBDC;
    padding: 15px;
    border-bottom: 1px solid black;
    z-index: 10;
}

.nav button {
    padding: 16px;
    border-radius: 20px;
    border: 0;
    background-color: #a71b00;
    color: white;
}

.nav .bt_div {}



.page1 {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F5EBDC;
    overflow: hidden;
}

.page1 .inner_div {
    display: flex;
    gap: 50px;
    font-family: FlameBold;
}

.page1 .text_div {
    color: #502314;
    width: 30vw;
    font-size: 40px;
    padding: 20px 0;
}

.page1 .text_div button {
    font-family: FlameBold;
    color: white;
    width: 100%;
    padding: 25px 20px;
    border-radius: 30px;
    border: 0;
    background-color: #d62300;
}

.page1 .text_div button:nth-child(2) {
    background-color: #F5EBDC;
    color: #d62300;
    border: 1px solid #d62300;
}
.button:hover{
    cursor: pointer;
    background-color:rgb(128, 76, 76);
}

.page1 .offer_image {
    width: 80vh;
}

/* ======================== */

.upcoming_div {
    display: none;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F5EBDC;
    overflow: hidden;
}

.upcoming_div .inner_div {
    display: flex;
    gap: 50px;
    font-family: FlameBold;
}

.upcoming_div .text_div {
    color: #502314;
    width: 80vw;
    font-size: 35px;
    padding: 20px 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

.bt_div1 button {
    gap: 10px;
    font-family: FlameBold;
    color: white;
    width: 100%;
    padding: 25px 20px;
    border-radius: 30px;
    border: 0;
    background-color: #d62300;
}

.bt_div1 button:nth-child(2) {
    background-color: #F5EBDC;
    color: #d62300;
    border: 1px solid #d62300;
}

.bt_div1 button:hover{
    cursor: pointer;
    background-color: rgb(197, 182, 182);
}
.card_page{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    background-color: #F5EBDC;
}

.card_page .card{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.card_page .card img{
    width: 100%;
}

.card_page .card .text_div{
    padding: 10px;
}
.card_page .card .text_div{
    color: #502314;
    font-family: 'Flamebold';
}
.card_page .card .text_div .para{
    color: #502314;
    font-family: 'Times New Roman', Times, serif;
}
.card_page .card .text_div .btn{
    width: 20vh;
    border-radius: 10px;
    font-size: large;
    border-color: red;
    float: left;
    font-weight: 700;
    color: red;
}
.card_page .card .text_div .href{
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    color: #502314;
}

/* ======================================= */

.contact{
    padding-top: 20vh;
    background-color: #F5EBDC;
}
.download1{
    /* display: flex; */

}
.text12 h1{
    font-size:3vh;
    font-weight: 800;
}
.btn:hover{
    cursor: pointer;
    background-color: gray;
}
.download1 img{
    height: 2.9vh;
}
.text12 .span12{

}
.details{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
   
    background-color: #502314;
    width: 100%;
    height: 100px;

}
.details.one{

}









/* .page1 .offer_image {
    width: 70vh;
}

/* =========================== */

/*.offers_div {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.offers_div .image_container{
    overflow: hidden;
    width: 100%;
}

.offer1 {
    border: 0;
    color: #502314;
    font-family: 'Flamebold';
    background-color: white;
    border-radius: 28px;
}

.offer1 span {
    color: #502314;
    font-family: 'Times New Roman', Times, serif;
}

.offer1 a {
    font-family: 'Times New Roman', Times, serif;
    color: #502314;
}

.img {
    border-radius: 15px 15px 0 0;
    height: 100%;
}

.btn {
    border-color: #d62300;
    border-radius: 10px;
    left: 10px;
} */

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* =============================== */

.contact1 {
    margin-top: 50vh;
    display: none;
}
.phone{
    background-color: #EBE2D3;
}

.phone img {
    height: 40vh;
    bottom: 1vh;
    /* width: 100; */
    
}

.text1 {
    background-color: #EBE2D3;
}

.text1 h1 {
    font-size: 3rem;
    font-family: 'Flamebold';
    color: #502314;
}

.download img {
    height: 4rem;
}

.phone1 {
    background-color: #EBE2D3;
    /* padding-left: 40vh; */
    position: relative;
}

.phone1 img {
    height: 60vh;
}

.span1 {
    font-weight: 10;
    font-family: 'Flamebold';

}
/* ============================ */
/* .contact_replace{
    float: left;
} */

/* =========================================== */
.foot{
    display: flex;
    justify-content: space-between;
    background-color: #F5EBDC;
    /* background-color: #d62300; */
    /* position: fixed; */

}

.icon{
    /* align-items: center; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* background-color:yellow ; */
    text-align: center;
    height: 2.5rem;
    padding: 1.5vh;
    /* position: fixed; */
    z-index: 100;
    
}
.icons {
    height: 1rem;
    
}
.mn{
    font-size: 11px;
    /* margin-top: ; */
}
.icon_off{
    text-align: center;
    height: 2.5rem;
    padding: 1.5vh;
    display: none;
}

.contact_replace{

    display: flex;
    padding-top: 10vh;
    background-color: #EBE2D3;
    /* height: 500px; */
    /* padding: 20px; */
}
.contact_replace .text12{
    /* width: 60vw; */
}
.span12{
    /* align-items: center; */
    text-align: center;
}

.text12 h4{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;

}
 .download1{
    /* height: 2vh; */
    padding-left: 10vh;
 }
 .download1 img{
    height: 4.7vh;
 }
